@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
*{
	margin:0;
	padding:0;
	list-style-type: none;
	text-decoration:none;
}

body{
	color:#E4E4E4;
	background-color: rgb(39, 39, 39);
}
/***** Header *****/
header{
	text-align:center;
	border-bottom: solid 1px #393939;
	padding: 3%;
	background-color: #141414;
	color:#E4E4E4;
}
.h1_header{
	margin-bottom: 2%;
	/**font-family: 'Poiret One', cursive, Georgia;
	display:inline-block;
	background: linear-gradient(to top, #27B020 0%, #27B020 10%, transparent 10.01%) no-repeat; 
	*****/
	font-family: 'Barlow', sans-serif;
	font-size: 60px;
    text-shadow: 0 0 0.2em rgb(246, 224, 19) ,0 0 0.2em rgb(246, 224, 19);
	background-size: 0 100%;
}
.h1_header:hover{
	background-size:100% 100%;
	transition: background-size .3s;
}
.menu_header .ul_header{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	font-family: 'Barlow', sans-serif;
	font-size: 25px;
}
.link_header{
	color:#E4E4E4;
	transition: color 0.5s, font-weight;
}
.link_header:hover{
	/*color: #78CE74;*/
	color:#B06120;
}

/******** Main *********/
/** Redimensionnement de l'image**/
.accueil_img{
	width:65%;
	/**Permet de centrer l'image**/
	display: block;
	margin-left:auto; 
	margin-right:auto;
}

/*** Section 1 : Présentation ****/
.accueil_section1{
	text-align: center;
	margin-top:5%;
	margin-bottom:5%;
	font-family: 'Lora', serif, Arial;
}
.h2_accueil{
	font-weight: normal;
}

/**** Section 2 : Sons et artistes****/
.grid{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	text-align:center;
	margin: 0 5% 8% 5%;
}

.cellule{
	background-color: #555555;
	color:black;
	border-radius:5px;
	padding-top:5%;
	padding-bottom:5%;
}

.miniature{
	width:200px;
	height:200px;
	filter: grayscale(0);
	transition: .3s ease-in-out;
}
.miniature:hover{
	filter: grayscale(100%)
}
.nom_accueil{
	color:white;
}
.titre_accueil{
	color:grey;
	padding-bottom:5%;
}

/***** Footer *****/
footer{
	text-align:center;
	border-top: solid 1px #393939;
	padding: 3%;
	background-color: #141414;
	color:#E4E4E4;
}
.menu_footer .ul_footer{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	/**font-family: 'Lora', serif, Arial; **/
	font-family: 'Barlow', sans-serif;
	font-size: 25px;
}
.link_footer{
	color:#E4E4E4;
	transition: color 0.5s, font-weight;
}
.link_footer:hover{
	/*color: #78CE74;*/
	color:#B06120;
}

/*Page3 Rap*/

.baniere{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
background-size: cover;
background-repeat: no-repeat;
width: 100%;

}

.nom{

display: flex;
flex-direction: column;
align-items: center;
font-family: 'Barlow', sans-serif;
font-size: 100px;
margin-bottom: 2%;
text-shadow: 0 0 0.2em rgb(246, 224, 19) ,0 0 0.2em rgb(246, 224, 19);

}
.bio{

display: flex;
flex-direction: column;
align-items: center;
font-family: 'Barlow', sans-serif;

}

.bio, h2{

font-size: 28px;

}

.texte{

font-size: 19px;
text-align: justify;
width: 40%;
margin-top: 1%;

}

.box{

display: flex;
flex-direction: column;
justify-content: center;
background-color: #393939;
margin-top: 1%;
width: 100%;
height: 30rem;

}

.album{

display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
transition: filter 0.35s ease-in-out;

}

.album:hover {
-webkit-filter: grayscale(0%);
filter: grayscale(0%)
}

.pochette{

width: 13%;

}

.block{

display: flex;
flex-direction: column;
align-items: center;
background-color: #393939;
width: 450px;
height: 450px;
font-family: 'Barlow', sans-serif;
border-radius: 30px;
margin:5% 2.5%;
position: relative;


}

.titre{
text-align: center;
margin-top: 2%;
font-size: 45px;
text-shadow: 0 0 0.2em rgb(246, 224, 19) ,0 0 0.2em rgb(246, 224, 19);

}

.img{

display: flex;
flex-direction: column;
margin-top: 3%;
width: 50%;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
transition: filter 0.35s ease-in-out;

}

.img:hover{

-webkit-filter: grayscale(0%);
filter: grayscale(0%)
}



.des{
	
display: flex;
flex-direction: column;
font-family: 'Barlow', sans-serif;
font-size: 22px;
margin-top: 1%;

}

.block1{

display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: #393939;
width: 30%;
height: 300px;


}

.pic{

display: flex;
flex-direction: row;
justify-content: center;



}

.content{

display: flex;
justify-content: center;
margin-bottom: 2%;
}

audio{

width: 80%;

}


/**Page Electro **/

#banner01{

background-image: url('src/img/dj.jpg');
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 70vh;


}
