*{
	margin:0;
	padding:0;
	list-style-type: none;
	
	color:white;
	text-decoration:none;
}

/***** Header *****/
header{
	text-align:center;
	border-bottom: solid 1px white;
	padding: 3%;
	background-color: #141414;
}
.h1_header{
	padding-bottom:2%;
	font-family: 'Poiret One', cursive, Georgia;
}
.menu_header .ul_header{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	font-family: 'Lora', serif, Arial;
}
/** Redimensionnement de l'image**/
body{
	background-color: rgb(39, 39, 39);
}
.accueil_img{
	width:70%;
	/**Permet de centrer l'image**/
	display: block;
	margin-left:auto; 
	margin-right:auto;
}